<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Courier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Highlight-Phone.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css')}}">
</head>

<body>
    <div class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro">
                        <h2>Посыльный</h2>
                        <p>Телеграм-бот от команды Red Cadets. Для взаимодействия требуется ключ.</p>
                    </div>
                </div>
                <div class="col-sm-4">
			<div class="d-none d-md-block iphone-mockup"><img class="device" src="{{ url_for('static', filename='assets/img/postman-4183890_1920.png')}}"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
